body{
  padding:0;
  margin:0;
  font-family: "HK Grostesk", sans-serif;
}

.intro {
    background-color: #0095ff;
}

.intro h1 { 
  padding:0;
  margin:0;
}

.abt {
    padding: 0px 50px;
    gap: 50px 50px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.abt img {
  border-radius: 50%;
}

.abt img:hover {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobility {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding:20; */
}
.mobility p {
  padding:20px;
}

.civic-engagement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.career-management {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px
}

#myInput {
  display: none;
}

.button {
  font-family: "HK Grotesk", sans-serif;  /* Specify the "HK Grotesk" font family */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 10px 20px;
  background-color: #0078d4;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: relative; /* Create a positioning context for the icon */
}

.button img {
  border-radius: 0px;
  width: 20px;
  height: auto;
  margin-right: 5px;
}

/* .abt {
    background-image:url('https://media.tenor.com/UTrLSr85tYEAAAAC/happy-cat-cat.gif');
    background-repeat:repeat;
} */
