html {
  scroll-behavior: smooth;
}

body{
  padding:0;
  margin:0;
  font-family: "HK Grostesk", sans-serif;
}

li, a, button {
  font-family: "HK Grotesk", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color:#000000;
}

header {
  background-color: #161616;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
}

.logo {
  height: 40px;
  width: 40px;
  cursor: pointer;
  margin-right: auto;
  color: #ffffff;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav__links li a {
  color: #ffffff;
  transition: all 0.3 ease 0s;
}

.nav__links li a:hover {
  color: #c8f560;
}

button {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: transparent; 
  color: #d0f873;
  border: solid;
  border-color: #d0f873;
  border-radius: 50px;
  border-width: 3px;
  cursor: pointer;
  transition: all 0.3 ease 0s;
}

button:hover {
  background-color: rgba(200, 245, 96, 0.3);
}

.intro {
  background-color: #161616;
  position: relative;
  height: 100vh;
  width: 100%;
  color: #ffffff;

}

.intro div {
  /* padding: 0 150px; */
  padding: 10% 2rem 2rem 10%;
  display: flex;
  flex-direction: column;
}

.intro div h1 { 
  padding:0;
  margin:0;
}

.intro div h1 span{ 
  color: #7862F8;
}

.intro button {
  margin-left: 0;
  color: #9a88ff;
  border-color: #9a88ff;
}

.intro button:hover {
  background-color: rgba(154, 136, 255, 0.3);
}

.about-me h2 {
  padding: 1rem 0;
  text-align: center;
}

.abt {
  padding: 0px 50px;
  gap: 50px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.abt img {
  width : 100%;
  max-width: 350px;
  height : 100%;
  max-height: 350px;
}

@media screen and (max-width: 800px) {
  #about .abt {
      flex-direction: column-reverse;
      /* justify-content: center; */
  }
}

.abt img {
  border-radius: 50%;
}

.abt img:hover {
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(1turn);
  }
}

.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobility {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding:20; */
}
.mobility p {
  padding:20px;
}

.civic-engagement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.career-management {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 560px) {
  .career-management iframe {
    width: 70%;
    height: 70%;
  }
}

iframe {
  width: 560px;
  height: 315px;
}

.activities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px
}

#myInput {
  display: none;
}

.button {
  font-family: "HK Grotesk", sans-serif;  /* Specify the "HK Grotesk" font family */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 10px 20px;
  background-color: #c8f560;
  color: #000000;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  position: relative; /* Create a positioning context for the icon */
}

.button img {
  border-radius: 0px;
  width: 20px;
  height: auto;
  margin-right: 5px;
}

.cornerButton {
  position: fixed;
  bottom: 20px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  /* Other button styles */
  padding: 10px 10px;
  background-color: #c8f560;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.cornerButton img {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  width: 25px;
  height: auto;
}

/* .abt {
    background-image:url('https://media.tenor.com/UTrLSr85tYEAAAAC/happy-cat-cat.gif');
    background-repeat:repeat;
} */
